body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f9f9f9;
}


.container {
    width: 400px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: #ffffff;
    padding: 40px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    font-size: 2rem;
    margin-bottom: 30px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button.signup-btn {
    background-color: #ffcc00;
}

button.login-btn {
    background-color: #ff8800;
}

button.signup-btn:hover {
    background-color: #ffdb4d;
}

button.login-btn:hover {
    background-color: #ff9c33;
}
